In [1]:
# Import requisite packages
import numpy as np
import pandas as pd
import requests

# Create a function for querying data from Census ACS API
def query_census_api_at_block_group(api_key, year, var_dict):
    '''
    Create a dataframe with Census Block Group level data for a given year and variable dictionary.
    api_key = Census API key
    year = Census year
    var_dict = Dictionary of variables to query from Census API
    '''
    
    # Create a basic data frame with Census Block Group level info
    url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,B01001_001E&for=block%20group:*&in=state:48%20county:113&key={api_key}'
    response = requests.request("GET", url)
    df = pd.DataFrame(response.json()[1:], columns=response.json()[0])[['NAME','state','county','tract','block group']]
    
    # Query Census Block Group Level Dataset
    for key, item in var_dict.items():
        url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,{key}&for=block%20group:*&in=state:48%20county:113&key={api_key}'
        response = requests.request("GET", url)
        df[item] = pd.DataFrame(response.json()[1:], columns=response.json()[0])[key]

    return df

In [2]:
# Set census API key, year, and variable dictionary
census_api_key = 'b32d020a89fe8d18a9aad261a0b94e3725748774'
year = '2021'

In [3]:
key = 'B25002_003E'
url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,{key}&for=block%20group:*&in=state:48%20county:113&key={census_api_key}'
response = requests.request("GET", url)
pd.DataFrame(response.json()[1:], columns=response.json()[0])[key]

0       130
1         0
2         0
3        66
4        57
       ...
1565     63
1566     46
1567      0
1568      0
1569     95
Name: B25002_003E, Length: 1570, dtype: object

In [4]:
key = 'B25004_002E'
url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,{key}&for=block%20group:*&in=state:48%20county:113&key={census_api_key}'
response = requests.request("GET", url)
pd.DataFrame(response.json()[1:], columns=response.json()[0])[key]

0       37
1        0
2        0
3        0
4        0
        ..
1565    26
1566     0
1567     0
1568     0
1569    54
Name: B25004_002E, Length: 1570, dtype: object

In [4]:
key = 'B11001_001E'
url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,{key}&for=block%20group:*&in=state:48%20county:113&key={census_api_key}'
response = requests.request("GET", url)
pd.DataFrame(response.json()[1:], columns=response.json()[0])[key]

0       703
1       605
2       409
3       342
4       535
       ...
1565    261
1566    608
1567      0
1568      0
1569    679
Name: B11001_001E, Length: 1570, dtype: object

In [6]:
key = 'B01001_001E'
url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,{key}&for=block%20group:*&in=state:48%20county:113&key={census_api_key}'
response = requests.request("GET", url)
pd.DataFrame(response.json()[1:], columns=response.json()[0])[key]

0       1535
1       1134
2       1341
3        734
4       1040
        ...
1565     893
1566    2152
1567       0
1568       0
1569    1503
Name: B01001_001E, Length: 1570, dtype: object

In [21]:
key = 'B25077_001E'
url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,{key}&for=block%20group:*&in=state:48%20county:113&key={census_api_key}'
response = requests.request("GET", url)
pd.DataFrame(response.json()[1:], columns=response.json()[0])[key]

0           750000
1           459700
2          1102300
3           434000
4           470000
           ...
1565        127200
1566         94100
1567    -666666666
1568    -666666666
1569    -666666666
Name: B25077_001E, Length: 1570, dtype: object

In [ ]:
var_dict = {
    # Demographic variables
    'B01001_001E':'total_population',
    'B01001_026E':'female_population',
    'B01002_001E':'median_age',
    'B02001_002E':'race_white',
    'B02001_003E':'race_black',
    'B02001_004E':'race_amerindian',
    'B02001_005E':'race_asian',
    'B03002_012E':'race_hispanic',
    'B09002_001E':'hh_w_child_total',
    'B09002_009E':'hh_w_child_male_hh_wo_spouse',
    'B09002_015E':'hh_w_child_female_hh_wo_spouse',
    'B11001_001E':'hh_total',
    'B11001_007E':'hh_nonfamily',
    'B11001_008E':'hh_living_alone',
    'B15003_002E':'edu_att_over25_no_schooling_completed',
    'B15003_017E':'edu_att_over25_highschool_graduate',
    'B15003_021E':'edu_att_over25_associate_degree',
    'B15003_022E':'edu_att_over25_bachelor_degree',
    'B15003_023E':'edu_att_over25_master_degree',
    'B15003_024E':'edu_att_over25_professional_degree',
    'B15003_025E':'edu_att_over25_doctorate_degree',    
    
    # Built environment variables
    'B08303_001E':'time_to_work_total',
    'B08303_002E':'time_to_work_lt5',
    'B08303_003E':'time_to_work_5to9',
    'B08303_004E':'time_to_work_10to14',
    'B08303_005E':'time_to_work_15to19',
    'B08303_006E':'time_to_work_20to24',
    'B08303_007E':'time_to_work_25to29',
    'B08303_008E':'time_to_work_30to34',
    'B08303_009E':'time_to_work_35to39',
    'B08303_010E':'time_to_work_40to44',
    'B08303_011E':'time_to_work_45to59',
    'B08303_012E':'time_to_work_60to89',
    'B08303_013E':'time_to_work_mt90',
    'B28002_013E':'no_internet_access',
    
    # Housing variables"medrent_samples"
    'B25001_001E':'housing_unit',
    'B25002_003E':'housing_vacant',
    'B25003_002E':'tenure_owner_occupied',
    'B25003_003E':'tenure_renter_occupied',
    'B25004_002E':'vacancy_for_rent',
    'B25010_003E':'hh_average_size_renter_occupied',
    'B25024_002E':'1unit_detached_structure',
    'B25024_003E':'1unit_attached_structure',
    'B25035_001E':'median_year_built',
    'B25070_001E':'gross_rent_percent_hhincome_total',
    'B25070_002E':'gross_rent_percent_hhincome_lt10',
    'B25070_003E':'gross_rent_percent_hhincome_10to15',
    'B25070_004E':'gross_rent_percent_hhincome_15to20',
    'B25070_005E':'gross_rent_percent_hhincome_20to25',
    'B25070_006E':'gross_rent_percent_hhincome_25to29',
    'B25070_007E':'gross_rent_percent_hhincome_30to35',
    'B25070_008E':'gross_rent_percent_hhincome_35to39',
    'B25070_009E':'gross_rent_percent_hhincome_40to50',
    'B25070_010E':'gross_rent_percent_hhincome_50ormore',
    'B25070_011E':'gross_rent_percent_hhincome_notcomputed',
    'B25071_001E':'gross_rent_percent_hhincome_median',
    'B25077_001E':'housing_median_value',
    'B25081_001E':'mortgage_status_total',
    'B25081_002E':'mortgage_status_w_mortgage',
    'B25081_009E':'mortgage_status_wo_mortgage',
    'B25088_001E':'median_monthly_owner_costs',
    'B25088_002E':'median_monthly_owner_costs_w_mortgage',
    'B25088_003E':'median_monthly_owner_costs_wo_mortgage',

    # Economic variables
    'B23025_002E':'ind_labor_force',
    'B23025_005E':'ind_labor_force_civilian_unemployed',
    'B17021_002E':'ind_poverty',
    'B19013_001E':'hh_median_income',
    'B19056_002E':'hh_w_ssi', #number of households with supplemental security income (SSI)
    'B19057_002E':'hh_w_pai', #number of households with public assistance income (PAI)
    'B19058_002E':'hh_w_foodstamp_SNAP', #number of households with PAI and Food Stamps / SNAP
    'B25058_001E':'median_contract_rent',
    'B25064_001E':'median_gross_rent', # contract rent plus monthly cost of utilities
}

df = query_census_api_at_block_group(census_api_key, year, var_dict)

# Save dataframe as csv
df.to_csv('data/acs_data_5y_2021_revised.csv', index=False)


# Query the change in median gross rent between 2016 and 2021
# Set census API key, year, and variable dictionary
# year_2016 = '2016'
# var_dict_2016 = {'B25064_001E':'median_gross_rent'}
# df_2016 = query_census_api_at_block_group(census_api_key, year_2016, var_dict_2016)
# df_2016.to_csv('data/acs_data_5y_2016.csv', index=False)

In [22]:
# Read census tract relationship file between 2010 and 2020
file_path = 'https://www2.census.gov/geo/docs/maps-data/data/rel2020/tract/tab20_tract20_tract10_natl.txt'
df_tract_rel = pd.read_csv(file_path, sep='|')

# Select only Dallas County, Texas
df_tract_rel['GEOID_TRACT_20'] = df_tract_rel['GEOID_TRACT_20'].astype(str)
df_tract_rel['GEOID_TRACT_10'] = df_tract_rel['GEOID_TRACT_10'].astype(str)
df_tract_rel = df_tract_rel[df_tract_rel['GEOID_TRACT_20'].str.startswith('48113')]

In [23]:
df_tract_rel

,OID_TRACT_20,GEOID_TRACT_20,NAMELSAD_TRACT_20,AREALAND_TRACT_20,AREAWATER_TRACT_20,MTFCC_TRACT_20,FUNCSTAT_TRACT_20,OID_TRACT_10,GEOID_TRACT_10,NAMELSAD_TRACT_10,AREALAND_TRACT_10,AREAWATER_TRACT_10,MTFCC_TRACT_10,FUNCSTAT_TRACT_10,AREALAND_PART,AREAWATER_PART
105024,20790555940585,48113000100,Census Tract 1,3077392,511268,G5020,S,20740555940585,48113000100,Census Tract 1,3064914,511268,G5020,S,3064269,511268
105025,20790555940585,48113000100,Census Tract 1,3077392,511268,G5020,S,20740555940601,48113001202,Census Tract 12.02,3208547,0,G5020,S,4325,0
105026,20790555940585,48113000100,Census Tract 1,3077392,511268,G5020,S,20740555940653,48113008100,Census Tract 81,5349487,792325,G5020,S,8798,0
105027,20790555940586,48113000201,Census Tract 2.01,1762502,0,G5020,S,20740555940586,48113000201,Census Tract 2.01,1762502,0,G5020,S,1762502,0
105028,20790555940588,48113000202,Census Tract 2.02,1571509,30513,G5020,S,20740555940588,48113000202,Census Tract 2.02,1571509,30513,G5020,S,1571509,30513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105949,2079015922093404,48113021200,Census Tract 212,18522258,2824814,G5020,S,20740555945159,48113015800,Census Tract 158,13182509,624991,G5020,S,13182509,624991
105950,207903717245367,48113980000,Census Tract 9800,26609569,0,G5020,S,207403717245367,48113980000,Census Tract 9800,26680183,0,G5020,S,26609569,0
105951,207903717245264,48113980100,Census Tract 9801,5549416,0,G5020,S,207403717245267,48113000406,Census Tract 4.06,6032764,530047,G5020,S,55983,0
105952,207903717245264,48113980100,Census Tract 9801,5549416,0,G5020,S,207403717245264,48113980100,Census Tract 9801,5493433,0,G5020,S,5493433,0
105953,2079015922093734,48113980200,Census Tract 9802,1005585,0,G5020,S,20740555940806,48113019206,Census Tract 192.06,3078687,0,G5020,S,1005585,0

In [ ]:
# Merge df_acs_tract_2021 and df_acs_tract_2016 with df_tract_rel
df_tract_temp = pd.merge(df_acs_tract_2021, df_tract_rel[['GEOID_TRACT_20', 'GEOID_TRACT_10']], left_on='GEOID_tract', right_on='GEOID_TRACT_20')
df_tract_temp2 = pd.merge(df_tract_temp, df_acs_tract_2016, left_on='GEOID_TRACT_10', right_on='GEOID_tract')
df_tract_temp2 = df_tract_temp2[['GEOID_tract_x','median_gross_rent','median_gross_rent_2016']].groupby('GEOID_tract_x').mean()

# Change the column name
df_tract_temp2 = df_tract_temp2.rename(columns={'median_gross_rent':'median_gross_rent_tract_2021', 'median_gross_rent_2016':'median_gross_rent_tract_2016'})

# Merge df_acs and df_tract_temp2
df_acs = pd.merge(df_acs, df_tract_temp2, left_on='GEOID_tract', right_on='GEOID_tract_x', how='left')