In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import fiona
fiona.supported_drivers

{'DXF': 'rw',
 'CSV': 'raw',
 'OpenFileGDB': 'raw',
 'ESRIJSON': 'r',
 'ESRI Shapefile': 'raw',
 'FlatGeobuf': 'raw',
 'GeoJSON': 'raw',
 'GeoJSONSeq': 'raw',
 'GPKG': 'raw',
 'GML': 'rw',
 'OGR_GMT': 'rw',
 'GPX': 'rw',
 'MapInfo File': 'raw',
 'DGN': 'raw',
 'S57': 'r',
 'SQLite': 'raw',
 'TopoJSON': 'r'}

In [76]:
# Load ACS data and Eviction data
df_acs = pd.read_csv('data/acs_data_5y_2019_revised.csv')
df_acs_2016 = pd.read_csv('data/acs_data_5y_2016.csv')
df_evic = gpd.read_file('data/eviction_count_bg_2019.geojson')

In [78]:
df_evic['geometry'].isnull().sum()

0

In [79]:
print(df_acs.shape)
print(df_acs_2016.shape)
print(df_evic.shape)

(1669, 80)
(1669, 7)
(151590, 42)

In [80]:
# Filter out the filed_year 2020 and 2021
df_evic = df_evic[df_evic['filed_year'] < 2020]
df_evic.shape

(121371, 42)

In [81]:
# Select required columns and convert df_evic to eviction count dataframe by CBG
df_evic2 = df_evic[['GEOID','geometry','case_number','amount_filed']]
df_evic3 = df_evic2.copy()

# Remove rows with 'amount_filed' = 'Not Non-Payment of Rent'
df_evic2 = df_evic2[df_evic2['amount_filed'] != 'Not Non-Payment of Rent']

# Select rows with 'amount_filed' = 'Not Non-Payment of Rent'
df_evic3 = df_evic3[df_evic3['amount_filed'] == 'Not Non-Payment of Rent']

# Convert 'amount_filed' to numeric
df_evic2['amount_filed'] = pd.to_numeric(df_evic2['amount_filed'])

# Aggregate eviction count and average amount_filed by CBG
df_evic2 = df_evic2.dissolve(by='GEOID', aggfunc={'case_number':'count', 'amount_filed':'mean'})
df_evic3 = df_evic3.drop(columns=['amount_filed'])
df_evic3 = df_evic3.dissolve(by='GEOID', aggfunc={'case_number':'count'})

In [90]:
df_evic3.head()

                                                       geometry  case_number
GEOID
481130001001  POLYGON ((-96.73536 32.82211, -96.73521 32.822...           11
481130001002  POLYGON ((-96.75299 32.81595, -96.75298 32.816...            3
481130002011  POLYGON ((-96.76147 32.83654, -96.76145 32.836...            3
481130002021  POLYGON ((-96.77015 32.82699, -96.76945 32.827...            4
481130002022  POLYGON ((-96.77013 32.83392, -96.77012 32.834...            5

In [82]:
df_evic2.head()

,geometry,case_number,amount_filed
GEOID,,,
481130001001,"POLYGON ((-96.73521 32.82215, -96.73499 32.822...",21,1385.051905
481130001002,"POLYGON ((-96.75130 32.81619, -96.75091 32.816...",34,2195.967059
481130001003,"POLYGON ((-96.75291 32.81719, -96.75291 32.818...",1,1500.000000
481130002011,"POLYGON ((-96.76141 32.83705, -96.76138 32.837...",8,1315.285000
481130002012,"POLYGON ((-96.76154 32.83080, -96.76153 32.831...",1,1200.000000

In [85]:
# Add leading zeros to tract column
df_acs['tract'] = df_acs['tract'].astype(str)
df_acs_2016['tract'] = df_acs_2016['tract'].astype(str)
df_acs['tract'] = df_acs['tract'].str.zfill(6)
df_acs_2016['tract'] = df_acs_2016['tract'].str.zfill(6)

# Convert state, county, tract, block group to string
df_acs['state'] = df_acs['state'].astype(str)
df_acs['county'] = df_acs['county'].astype(str)
df_acs['block group'] = df_acs['block group'].astype(str)

df_acs_2016['state'] = df_acs_2016['state'].astype(str)
df_acs_2016['county'] = df_acs_2016['county'].astype(str)
df_acs_2016['block group'] = df_acs_2016['block group'].astype(str)

# Create GEOID column
df_acs['GEOID'] = df_acs['state'] + df_acs['county'] + df_acs['tract'] + df_acs['block group']
df_acs_2016['GEOID'] = df_acs_2016['state'] + df_acs_2016['county'] + df_acs_2016['tract'] + df_acs_2016['block group']

# Create GEOID_tract column
df_acs['GEOID_tract'] = df_acs['state'] + df_acs['county'] + df_acs['tract']
df_acs_2016['GEOID_tract'] = df_acs_2016['state'] + df_acs_2016['county'] + df_acs_2016['tract']

# Change the column names in df_acs_2016 to match df_acs
df_acs_2016 = df_acs_2016.rename(columns={'median_gross_rent':'median_gross_rent_2016',
                                          'housing_median_value':'housing_median_value_2016'})

In [86]:
# Compare median rent in 2016 and 2019 at the tract-level 
# (At the census block group level, it is challenging to clearly identify the change in boundaries)
# Create a tract-level median gross rent dataframe for 2016 and 2019
df_acs_tract_2016 = df_acs_2016[['GEOID_tract','median_gross_rent_2016','housing_median_value_2016']].copy()
df_acs_tract_2019 = df_acs[['GEOID_tract','median_gross_rent','housing_median_value']].copy()

# Replace negative values with NaN
df_acs_tract_2016['median_gross_rent_2016'][df_acs_tract_2016['median_gross_rent_2016'] < 0] = np.nan
df_acs_tract_2019['median_gross_rent'][df_acs_tract_2019['median_gross_rent'] < 0] = np.nan
df_acs_tract_2016['housing_median_value_2016'][df_acs_tract_2016['housing_median_value_2016'] < 0] = np.nan
df_acs_tract_2019['housing_median_value'][df_acs_tract_2019['housing_median_value'] < 0] = np.nan

# Group by tract and sum
df_acs_tract_2016 = df_acs_tract_2016.groupby('GEOID_tract').sum().reset_index()
df_acs_tract_2019 = df_acs_tract_2019.groupby('GEOID_tract').sum().reset_index()

/var/folders/y6/z9h695vx2w3gbjh7z32h4j9m0000gn/T/ipykernel_59393/2569063516.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_acs_tract_2016['median_gross_rent_2016'][df_acs_tract_2016['median_gross_rent_2016'] < 0] = np.nan
/var/folders/y6/z9h695vx2w3gbjh7z32h4j9m0000gn/T/ipykernel_59393/2569063516.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_acs_tract_2019['median_gross_rent'][df_acs_tract_2019['median_gross_rent'] < 0] = np.nan
/var/folders/y6/z9h695vx2w3gbjh7z32h4j9m0000gn/T/ipykernel_59393/2569063516.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_acs_tract_2016['housing_median_value_2016'][df_acs_tract_2016['housing_median_value_2016'] < 0] = np.nan
/var/folders/y6/z9h695vx2w3gbjh7z32h4j9m0000gn/T/ipykernel_59393/2569063516.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_acs_tract_2019['housing_median_value'][df_acs_tract_2019['housing_median_value'] < 0] = np.nan

In [87]:
print(df_acs_tract_2016.shape)
print(df_acs_tract_2019.shape)

(529, 3)
(529, 3)

In [88]:
df_tract_temp = pd.merge(df_acs_tract_2016, df_acs_tract_2019, on='GEOID_tract', how='left')

# Change the column name
df_tract_temp = df_tract_temp.rename(columns={'median_gross_rent':'median_gross_rent_tract_2019', 
                        'median_gross_rent_2016':'median_gross_rent_tract_2016',
                        'housing_median_value':'housing_median_value_tract_2019',
                        'housing_median_value_2016':'housing_median_value_tract_2016'})

df_acs = pd.merge(df_acs, df_tract_temp, on='GEOID_tract', how='left')

In [92]:
print(df_evic2.shape)
print(df_evic3.shape)

(1554, 3)
(1493, 2)

In [91]:
df_acs.shape

(1669, 86)

In [89]:
df_acs.head()

,NAME,state,county,tract,block group,total_population,female_population,median_age,race_white,race_black,...,hh_w_pai,hh_w_foodstamp_SNAP,median_contract_rent,median_gross_rent,GEOID,GEOID_tract,median_gross_rent_tract_2016,housing_median_value_tract_2016,median_gross_rent_tract_2019,housing_median_value_tract_2019
0,"Block Group 3, Census Tract 142.03, Dallas Cou...",48,113,014203,3,1699,715,33.1,1176,62,...,0,50,886,1085,481130142033,48113014203,861.0,447200.0,2845.0,573900.0
1,"Block Group 1, Census Tract 142.03, Dallas Cou...",48,113,014203,1,712,240,43.4,462,34,...,18,26,1380,1760,481130142031,48113014203,861.0,447200.0,2845.0,573900.0
2,"Block Group 1, Census Tract 149.02, Dallas Cou...",48,113,014902,1,1126,417,33.5,554,74,...,37,42,805,958,481130149021,48113014902,1387.0,245600.0,1770.0,286900.0
3,"Block Group 2, Census Tract 149.02, Dallas Cou...",48,113,014902,2,1659,779,30.0,700,104,...,83,134,747,812,481130149022,48113014902,1387.0,245600.0,1770.0,286900.0
4,"Block Group 4, Census Tract 172.01, Dallas Cou...",48,113,017201,4,1296,631,20.5,1188,97,...,0,141,640,763,481130172014,48113017201,4125.0,236600.0,5225.0,274900.0

In [64]:
df_acs.shape

(1669, 86)

In [ ]:
# # Read census tract relationship file between 2010 and 2020
# file_path = 'https://www2.census.gov/geo/docs/maps-data/data/rel2020/tract/tab20_tract20_tract10_natl.txt'
# df_tract_rel = pd.read_csv(file_path, sep='|')

# # Select only Dallas County, Texas
# df_tract_rel['GEOID_TRACT_20'] = df_tract_rel['GEOID_TRACT_20'].astype(str)
# df_tract_rel['GEOID_TRACT_10'] = df_tract_rel['GEOID_TRACT_10'].astype(str)
# df_tract_rel = df_tract_rel[df_tract_rel['GEOID_TRACT_20'].str.startswith('48113')]

# # Merge df_acs_tract_2021 and df_acs_tract_2016 with df_tract_rel
# df_tract_temp = pd.merge(df_acs_tract_2021, df_tract_rel[['GEOID_TRACT_20', 'GEOID_TRACT_10']], left_on='GEOID_tract', right_on='GEOID_TRACT_20')
# df_tract_temp2 = pd.merge(df_tract_temp, df_acs_tract_2016, left_on='GEOID_TRACT_10', right_on='GEOID_tract')
# df_tract_temp2 = df_tract_temp2[['GEOID_tract_x','median_gross_rent','median_gross_rent_2016','housing_median_value','housing_median_value_2016']].groupby('GEOID_tract_x').mean()

# # Change the column name
# df_tract_temp2 = df_tract_temp2.rename(columns={'median_gross_rent':'median_gross_rent_tract_2021', 
#                                                 'median_gross_rent_2016':'median_gross_rent_tract_2016',
#                                                 'housing_median_value':'housing_median_value_tract_2021',
#                                                 'housing_median_value_2016':'housing_median_value_tract_2016'})

# # Merge df_acs and df_tract_temp2
# df_acs = pd.merge(df_acs, df_tract_temp2, left_on='GEOID_tract', right_on='GEOID_tract_x', how='left')

In [94]:
df_evic[['GEOID','geometry']].drop_duplicates().shape

(1598, 2)

In [93]:
df_evic.shape

(121371, 42)

In [95]:
# Dallas County Census Block Group shapefile (2019, prepandemic)
data_path = '/Users/wooyongjung/WJ_Projects/eviction_2023_repo/data/tl_2019_48_bg/tl_2019_48_bg.shp'
census_bg = gpd.read_file(data_path)
census_bg = census_bg.to_crs(4326)
census_bg = census_bg[census_bg['GEOID'].str.startswith('48113')]

In [96]:
census_bg.shape

(1669, 13)

In [98]:
# Merge ACS and Eviction dataframes
df_evic2.reset_index(inplace=True)
df_evic2['GEOID'] = df_evic2['GEOID'].astype(str)

df_evic3.reset_index(inplace=True)
df_evic3['GEOID'] = df_evic3['GEOID'].astype(str)

# Merge df_acs and df_evic['geometry] first before merging with df_evic2
df_acs2 = pd.merge(df_acs, census_bg[['GEOID','geometry']], on='GEOID', how='left')

# Merge df_acs and df_evic2
df = pd.merge(df_acs2, df_evic2, on='GEOID', how='left')

# Merge df_acs and df_evic3 (non-payment(np) of rent)
df_np = pd.merge(df_acs2, df_evic3, on='GEOID', how='left')

In [99]:
print(df.shape)
print(df_np.shape)

(1669, 90)
(1669, 89)

In [100]:
# Select required columns
required_cols = ['GEOID','geometry_x','case_number', 'amount_filed', 'total_population', 'median_age' ,
                 'race_white', 'race_black', 'race_asian', 'race_hispanic','hh_total', 'children_total', 
                 'edu_att_over25_no_schooling_completed', 'edu_att_over25_highschool_graduate', 
                 'edu_att_over25_master_degree', 'edu_att_over25_professional_degree',
                 'edu_att_over25_doctorate_degree', 'children_w_married_couple',
                 'children_w_male_hh', 'children_w_female_hh',
                 'no_internet_access', 'housing_unit',
                 'housing_vacant', 'tenure_renter_occupied', 'vacancy_for_rent', 'median_year_built', 
                 'ind_poverty', 'hh_median_income',
                 'median_gross_rent_tract_2019', 'median_gross_rent_tract_2016',
                 'housing_median_value_tract_2019', 'housing_median_value_tract_2016',
                 'mortgage_status_total', 'mortgage_status_w_mortgage','median_monthly_owner_costs',	
                 'median_monthly_owner_costs_w_mortgage', 'hh_nonfamily','hh_living_alone',
                 'hh_average_size_renter_occupied',
                 '1unit_detached_structure', '1unit_attached_structure', 'units_in_structure_20_49', 'units_in_structure_50ormore',
                 'gross_rent_percent_hhincome_total',
                 'gross_rent_percent_hhincome_40to50', 'gross_rent_percent_hhincome_50ormore',
                 'ind_labor_force', 'ind_labor_force_civilian_unemployed',
                 'hh_w_ssi', 'hh_w_pai', 'hh_w_foodstamp_SNAP',
                 'time_to_work_total', 'time_to_work_lt5', 'time_to_work_5to9',
                 'time_to_work_10to14', 'time_to_work_15to19', 'time_to_work_20to24', 
                 'time_to_work_25to29', 'time_to_work_30to34', 'time_to_work_35to39', 
                 'time_to_work_40to44', 'time_to_work_45to59', 'time_to_work_60to89', 'time_to_work_mt90'
                 ]
df = df[required_cols]

In [101]:
# Select required columns (without amount_filed)
required_cols = ['GEOID','geometry_x','case_number', 'total_population', 'median_age' ,
                 'race_white', 'race_black', 'race_asian', 'race_hispanic','hh_total', 'children_total', 
                 'edu_att_over25_no_schooling_completed', 'edu_att_over25_highschool_graduate', 
                 'edu_att_over25_master_degree', 'edu_att_over25_professional_degree',
                 'edu_att_over25_doctorate_degree', 'children_w_married_couple',
                 'children_w_male_hh', 'children_w_female_hh',
                 'no_internet_access', 'housing_unit',
                 'housing_vacant', 'tenure_renter_occupied', 'vacancy_for_rent', 'median_year_built', 
                 'housing_median_value', 'ind_poverty', 'hh_median_income', 'median_gross_rent', 
                 'median_gross_rent_tract_2019', 'median_gross_rent_tract_2016',
                 'housing_median_value_tract_2019', 'housing_median_value_tract_2016',
                 'mortgage_status_total', 'mortgage_status_w_mortgage','median_monthly_owner_costs',	
                 'median_monthly_owner_costs_w_mortgage', 'hh_nonfamily','hh_living_alone',
                 'hh_average_size_renter_occupied',
                 '1unit_detached_structure', '1unit_attached_structure', 'units_in_structure_20_49', 'units_in_structure_50ormore',
                 'gross_rent_percent_hhincome_total',
                 'gross_rent_percent_hhincome_40to50', 'gross_rent_percent_hhincome_50ormore',
                 'ind_labor_force', 'ind_labor_force_civilian_unemployed',
                 'hh_w_ssi', 'hh_w_pai', 'hh_w_foodstamp_SNAP',
                 'time_to_work_total', 'time_to_work_lt5', 'time_to_work_5to9',
                 'time_to_work_10to14', 'time_to_work_15to19', 'time_to_work_20to24', 
                 'time_to_work_25to29', 'time_to_work_30to34', 'time_to_work_35to39', 
                 'time_to_work_40to44', 'time_to_work_45to59', 'time_to_work_60to89', 'time_to_work_mt90'
                 ]
df_np = df_np[required_cols]

In [102]:
# Separate df into integer, float and string dataframes
df_int = df.select_dtypes(include=['int64'])
df_str = df.select_dtypes(include=['object'])
df_float = df.select_dtypes(include=['float64'])

df_np_int = df_np.select_dtypes(include=['int64'])
df_np_str = df_np.select_dtypes(include=['object'])
df_np_float = df_np.select_dtypes(include=['float64'])

# Replace negative values with NaN
df_int[df_int < 0] = np.nan
df_float[df_float < 0] = np.nan

df_np_int[df_np_int < 0] = np.nan
df_np_float[df_np_float < 0] = np.nan

In [103]:
# Concatenate integer, float and string dataframes
df2 = pd.concat([df['geometry_x'], df_int, df_float, df_str], axis=1)
df_np2 = pd.concat([df_np['geometry_x'], df_np_int, df_np_float, df_np_str], axis=1)

In [104]:
# Create new columns: eviction counts (per 1000 housing units)
df2['eviction_rate'] = ((df2['case_number'] / 5) / (df2['housing_unit']))*1000
df2['eviction_rate'] = df2['eviction_rate'].round()

# Create a new column: eviction counts per 1000 renter occupied housing units
df2['eviction_rate_renter'] = ((df2['case_number'] / 5) / (df2['tenure_renter_occupied']))*1000
df2['eviction_rate_renter'] = df2['eviction_rate_renter'].round()

# Create new columns: education level less than high school
df2['edu_lt_highschool'] = (df2['edu_att_over25_no_schooling_completed'] + df2['edu_att_over25_highschool_graduate'])/df2['total_population']

# Create new columns: education level with graduate degree
df2['edu_grad'] = (df2['edu_att_over25_master_degree'] + df2['edu_att_over25_professional_degree'] + df2['edu_att_over25_doctorate_degree'])/df2['total_population']

# Create new columns: black people percentage
df2['black_ratio'] = df2['race_black'] / df2['total_population']

# Create new columns: white people percentage
df2['white_ratio'] = df2['race_white'] / df2['total_population']

# Create new columns: asian people percentage
df2['asian_ratio'] = df2['race_asian'] / df2['total_population']

# Create new columns: hispanic people percentage
df2['hispanic_ratio'] = df2['race_hispanic'] / df2['total_population']

# Create new columns: children in married-couple households
df2['children_w_married_couple_ratio'] = df2['children_w_married_couple'] / df2['children_total']

# Create new columns: children in male-householder households without spouse
df2['children_w_male_hh_ratio'] = df2['children_w_male_hh'] / df2['children_total']

# Create new columns: children in male-householder households without spouse
df2['children_w_female_hh_ratio'] = df2['children_w_female_hh'] / df2['children_total']

# Create new columns: renter occupied housing unit percentage
df2['renter_occ_rate'] = df2['tenure_renter_occupied'] / df2['housing_unit']

# Create new columns: vacant housing unit percentage (for rent)
df2['vacancy_rate'] = df2['vacancy_for_rent'] / df2['housing_unit']

# Create new columns: unemployment rate
df2['unemployment_rate'] = df2['ind_labor_force_civilian_unemployed'] / df2['ind_labor_force']

# Create new columns: poverty rate
df2['poverty_rate'] = df2['ind_poverty'] / df2['total_population']

# Create new columns: single unit structure percentage
df2['1unit_structure_ratio'] = (df2['1unit_detached_structure'] + df2['1unit_attached_structure']) / df2['housing_unit']

# Create new columns: multi-unit structure percentage
df2['multiunit_structure_ratio'] = (df2['units_in_structure_20_49'] + df2['units_in_structure_50ormore']) / df2['housing_unit']

# Create new columns: household ratio with social programs
df2['hh_social_programs'] = (df2['hh_w_ssi'] + df2['hh_w_pai'] + df2['hh_w_foodstamp_SNAP'])/df2['hh_total']

# Create new columns: morgage status percentage
df2['mortgage_status_ratio'] = df2['mortgage_status_w_mortgage'] / df2['housing_unit']

# Create new columns: gross rent percentage
df2['gross_rent_mt40'] = (df2['gross_rent_percent_hhincome_40to50'] + df2['gross_rent_percent_hhincome_50ormore'])/df2['gross_rent_percent_hhincome_total']

# Create new columns: gross rent percentage more than 50% of household income
df2['gross_rent_mt50'] = df2['gross_rent_percent_hhincome_50ormore']/df2['gross_rent_percent_hhincome_total']

# Create new columns: household with nonfamily ratio
df2['hh_nonfamily_ratio'] = df2['hh_nonfamily'] / df2['hh_total']

# Create new columns: householder living alone ratio
df2['hher_living_alone_ratio'] = df2['hh_living_alone'] / df2['hh_total']

# Create new columns: time to work less than 30 mins
df2['time_to_work_lt30'] = (df2['time_to_work_lt5'] + df2['time_to_work_5to9'] + df2['time_to_work_10to14'] + df2['time_to_work_15to19'] + df2['time_to_work_20to24'] + df2['time_to_work_25to29'])/df2['time_to_work_total']

# Create new columns: time to work between 30 and 59 mins
df2['time_to_work_30to59'] = (df2['time_to_work_30to34'] + df2['time_to_work_35to39'] + df2['time_to_work_40to44'] + df2['time_to_work_45to59'])/df2['time_to_work_total']

# Create new columns: time to work more than 60 mins
df2['time_to_work_mt60'] = (df2['time_to_work_60to89'] + df2['time_to_work_mt90'])/df2['time_to_work_total']

# Create new columns: median gross rent change between 2016 and 2021
df2['median_gross_rent_tract_2016'] = df2['median_gross_rent_tract_2016'] + 1
df2['median_gross_rent_tract_2019'] = df2['median_gross_rent_tract_2019'] + 1
df2['median_gross_rent_change'] = (df2['median_gross_rent_tract_2019'] - df2['median_gross_rent_tract_2016'])/df2['median_gross_rent_tract_2016']

# Create new columns: housing median value change between 2016 and 2021
df2['housing_median_value_tract_2016'] = df2['housing_median_value_tract_2016'] + 1
df2['housing_median_value_tract_2019'] = df2['housing_median_value_tract_2019'] + 1
df2['housing_median_value_change'] = (df2['housing_median_value_tract_2019'] - df2['housing_median_value_tract_2016'])/df2['housing_median_value_tract_2016']

# Create new columns: no internet access percentage
df2['no_internet_access_ratio'] = df2['no_internet_access'] / df2['hh_total']

In [105]:
# Create new columns: eviction rate
df_np2['eviction_rate'] = ((df_np2['case_number'] / 5) / (df_np2['housing_unit']))*1000
df_np2['eviction_rate'] = df_np2['eviction_rate'].round()

# Create a new column: eviction counts per 1000 renter occupied housing units
df_np2['eviction_rate_renter'] = ((df_np2['case_number'] / 5) / (df_np2['tenure_renter_occupied']))*1000
df_np2['eviction_rate_renter'] = df_np2['eviction_rate_renter'].round()

# Create new columns: education level less than high school
df_np2['edu_lt_highschool'] = (df_np2['edu_att_over25_no_schooling_completed'] + df_np2['edu_att_over25_highschool_graduate'])/df_np2['total_population']

# Create new columns: education level with graduate degree
df_np2['edu_grad'] = (df_np2['edu_att_over25_master_degree'] + df_np2['edu_att_over25_professional_degree'] + df_np2['edu_att_over25_doctorate_degree'])/df_np2['total_population']

# Create new columns: black people percentage
df_np2['black_ratio'] = df_np2['race_black'] / df_np2['total_population']

# Create new columns: white people percentage
df_np2['white_ratio'] = df_np2['race_white'] / df_np2['total_population']

# Create new columns: asian people percentage
df_np2['asian_ratio'] = df_np2['race_asian'] / df_np2['total_population']

# Create new columns: hispanic people percentage
df_np2['hispanic_ratio'] = df_np2['race_hispanic'] / df_np2['total_population']

# Create new columns: children in married-couple households
df_np2['children_w_married_couple_ratio'] = df_np2['children_w_married_couple'] / df_np2['children_total']

# Create new columns: children in male-householder households without spouse
df_np2['children_w_male_hh_ratio'] = df_np2['children_w_male_hh'] / df_np2['children_total']

# Create new columns: children in male-householder households without spouse
df_np2['children_w_female_hh_ratio'] = df_np2['children_w_female_hh'] / df_np2['children_total']

# Create new columns: renter occupied housing unit percentage
df_np2['renter_occ_rate'] = df_np2['tenure_renter_occupied'] / df_np2['housing_unit']

# Create new columns: vacant housing unit percentage (for rent)
df_np2['vacancy_rate'] = df_np2['vacancy_for_rent'] / df_np2['housing_unit']

# Create new columns: unemployment rate
df_np2['unemployment_rate'] = df_np2['ind_labor_force_civilian_unemployed'] / df_np2['ind_labor_force']

# Create new columns: poverty rate
df_np2['poverty_rate'] = df_np2['ind_poverty'] / df_np2['total_population']

# Create new columns: single unit structure percentage
df_np2['1unit_structure_ratio'] = (df_np2['1unit_detached_structure'] + df_np2['1unit_attached_structure']) / df_np2['housing_unit']

# Create new columns: multi-unit structure percentage
df_np2['multiunit_structure_ratio'] = (df_np2['units_in_structure_20_49'] + df_np2['units_in_structure_50ormore']) / df_np2['housing_unit']

# Create new columns: household ratio with social programs
df_np2['hh_social_programs'] = (df_np2['hh_w_ssi'] + df_np2['hh_w_pai'] + df_np2['hh_w_foodstamp_SNAP'])/df_np2['hh_total']

# Create new columns: morgage status percentage
df_np2['mortgage_status_ratio'] = df_np2['mortgage_status_w_mortgage'] / df_np2['mortgage_status_total']

# Create new columns: gross rent percentage
df_np2['gross_rent_mt40'] = (df_np2['gross_rent_percent_hhincome_40to50'] + df_np2['gross_rent_percent_hhincome_50ormore'])/df_np2['gross_rent_percent_hhincome_total']

# Create new columns: gross rent percentage more than 50% of household income
df_np2['gross_rent_mt50'] = df_np2['gross_rent_percent_hhincome_50ormore']/df_np2['gross_rent_percent_hhincome_total']

# Create new columns: household with nonfamily ratio
df_np2['hh_nonfamily_ratio'] = df_np2['hh_nonfamily'] / df_np2['hh_total']

# Create new columns: householder living alone ratio
df_np2['hher_living_alone_ratio'] = df_np2['hh_living_alone'] / df_np2['hh_total']

# Create new columns: time to work less than 30 mins
df_np2['time_to_work_lt30'] = (df_np2['time_to_work_lt5'] + df_np2['time_to_work_5to9'] + df_np2['time_to_work_10to14'] + df_np2['time_to_work_15to19'] + df_np2['time_to_work_20to24'] + df_np2['time_to_work_25to29'])/df_np2['time_to_work_total']

# Create new columns: time to work between 30 and 59 mins
df_np2['time_to_work_30to59'] = (df_np2['time_to_work_30to34'] + df_np2['time_to_work_35to39'] + df_np2['time_to_work_40to44'] + df_np2['time_to_work_45to59'])/df_np2['time_to_work_total']

# Create new columns: time to work more than 60 mins
df_np2['time_to_work_mt60'] = (df_np2['time_to_work_60to89'] + df_np2['time_to_work_mt90'])/df_np2['time_to_work_total']

# Create new columns: median gross rent change between 2016 and 2021
df_np2['median_gross_rent_tract_2016'] = df_np2['median_gross_rent_tract_2016'] + 1
df_np2['median_gross_rent_tract_2019'] = df_np2['median_gross_rent_tract_2019'] + 1
df_np2['median_gross_rent_change'] = (df_np2['median_gross_rent_tract_2019'] - df_np2['median_gross_rent_tract_2016'])/df_np2['median_gross_rent_tract_2016']

# Create new columns: housing median value change between 2016 and 2021
df_np2['housing_median_value_tract_2016'] = df_np2['housing_median_value_tract_2016'] + 1
df_np2['housing_median_value_tract_2019'] = df_np2['housing_median_value_tract_2019'] + 1
df_np2['housing_median_value_change'] = (df_np2['housing_median_value_tract_2019'] - df_np2['housing_median_value_tract_2016'])/df_np2['housing_median_value_tract_2016']

# Create new columns: no internet access percentage
df_np2['no_internet_access_ratio'] = df_np2['no_internet_access'] / df_np2['hh_total']

In [106]:
print(df2.shape)
print(df_np2.shape)

(1669, 93)
(1669, 94)

In [107]:
# Remove rows with zero total population
df2 = df2[df2['total_population']!=0]
df_np2 = df_np2[df_np2['total_population']!=0]

# Remove rows with zero housing unit
df2 = df2[df2['housing_unit']!=0]
df_np2 = df_np2[df_np2['housing_unit']!=0]

# Replace NaN with zero for 'gross_rent_mt40' if 'tenure_renter_occupied' = 0
df2.loc[df2['tenure_renter_occupied']==0, 'gross_rent_mt40'] = 0
df_np2.loc[df_np2['tenure_renter_occupied']==0, 'gross_rent_mt40'] = 0

# Replace NaN with zero for 'gross_rent_mt50' if 'tenure_renter_occupied' = 0
df2.loc[df2['tenure_renter_occupied']==0, 'gross_rent_mt50'] = 0
df_np2.loc[df_np2['tenure_renter_occupied']==0, 'gross_rent_mt50'] = 0

# Replace NaN with zero for 'mortgate_status_ratio' if 'mortgage_status_total' = 0
df2.loc[df2['mortgage_status_total']==0, 'mortgage_status_ratio'] = 0
df_np2.loc[df_np2['mortgage_status_total']==0, 'mortgage_status_ratio'] = 0

# Replace NaN with zero for 'eviction_rate_renter' if 'eviction_rate_renter' = 0
df2['eviction_rate_renter'].fillna(0, inplace=True)
df_np2['eviction_rate_renter'].fillna(0, inplace=True)
df2['eviction_rate_renter'].replace([np.inf, -np.inf], 0, inplace=True)
df_np2['eviction_rate_renter'].replace([np.inf, -np.inf], 0, inplace=True)

# Fill NaN with 0 for 'case_number' and 'amount_filed'
df2['case_number'].fillna(0, inplace=True)
df_np2['case_number'].fillna(0, inplace=True)
df2['amount_filed'].fillna(0, inplace=True)

# Fill NaN with 0 for 'eviction_rate'
df2['eviction_rate'].fillna(0, inplace=True)
df_np2['eviction_rate'].fillna(0, inplace=True)

# Fill NaN with 0 for 'hh_w_child_male_hh_ratio'
df2['children_w_male_hh_ratio'].fillna(0, inplace=True)
df_np2['children_w_male_hh_ratio'].fillna(0, inplace=True)

# Fill NaN with 0 for 'hh_w_child_female_hh_ratio'
df2['children_w_female_hh_ratio'].fillna(0, inplace=True)
df_np2['children_w_female_hh_ratio'].fillna(0, inplace=True)

# Fill NaN with 0 for 'children_w_married_couple_ratio'
df2['children_w_married_couple_ratio'].fillna(0, inplace=True)
df_np2['children_w_married_couple_ratio'].fillna(0, inplace=True)

In [108]:
print(df2.shape)
print(df_np2.shape)

(1665, 93)
(1665, 94)

In [109]:
df2.to_csv('data/acs_evic_data_wo_zero_pop_prepandemic.csv')
df_np2.to_csv('data/acs_evic_data_np_wo_zero_pop_prepandemic.csv')